includes:
    - phpstan-baseline.neon

parameters:
    phpVersion: 80400
    level: 7
    paths:
        - config
        - src
        - tests

    ignoreErrors:
        - message: '# with generic class Doctrine\\ODM\\MongoDB\\Mapping\\ClassMetadata#'
          identifier: missingType.generics
