<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/bootstrap.php" colors="true">
  <php>
    <server name="SYMFONY" value="../../../../symfony/src" />
    <server name="DOCTRINE" value="../../../../doctrine-common/lib" />
    <server name="DOCTRINE_MONGODB" value="../../../../doctrine-mongodb/lib" />
    <server name="DOCTRINE_MONGODB_ODM" value="../../../../doctrine-mongodb-odm/lib" />
  </php>

  <testsuites>
    <testsuite name="DoctrineMongoDBBundle">
      <directory suffix="Test.php">./Tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./Resources</directory>
        <directory>./Tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
