<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="DoctrineMongoDBBundle Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- <server name="SYMFONY" value="/path/to/symfony/src" /> -->
        <!-- <server name="SYMFONY_TESTS" value="/path/to/symfony/tests" /> -->
        <!-- <server name="DOCTRINE_MONGODB_ODM" value="/path/to/doctrine-mongodb-odm/lib" /> -->
        <!-- <server name="DOCTRINE_MONGODB" value="/path/to/doctrine-mongodb/lib" /> -->
        <!-- <server name="DOCTRINE_COMMON" value="/path/to/doctrine-common/lib" /> -->
        <env name="MONGODB_URI" value="mongodb://localhost:27017"/>
        <!-- Allow 1 direct deprecation until https://github.com/doctrine/DoctrineMongoDBBundle/pull/675 is merged -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=1"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
