on: [push, pull_request]

name: Lint

jobs:
    doctor-rst:
        name: DOCtor-RST

        runs-on: ubuntu-latest

        steps:
            - name: "Checkout"
              uses: actions/checkout@v3

            - name: "DOCtor-RST"
              uses: docker://oskarstark/doctor-rst
              with:
                  args: --short
              env:
                  DOCS_DIR: 'Resources/doc/'
